mixin adressTel(firstImg, firstText, lastImg, lastText)
    aside.adressTel
        .adressTel_item._first._first-not
            .adressTel_inner._inner1
                img(src=firstImg, alt="alt").adressTel_img
            p.adressTel_text._text1 Ikan Piranha Atas 220C <br> Malang - East Java <br> Indonesia
        .adressTel_item._last._last-not
            .adressTel_inner._inner2
                img(src=lastImg, alt="alt").adressTel_img
            p.adressTel_text._text2=lastText
        .adressTel_768
            .adressTel_inner
                img(src=firstImg, alt="alt").adressTel_img
            p.adressTel_text Ikan Piranha Atas 220C <br> Malang - East Java <br> Indonesia
        .adressTel_768
            .adressTel_inner
                img(src=lastImg, alt="alt").adressTel_img
            p.adressTel_text=lastText